/*==========	Desktop First	==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1980px) {
  .contacts-box {
    padding: 30px;
  }
  .contacts-box__avatar {
    margin: 0 20px 0 0;
  }
  .contacts-box__footer {
    padding: 0 0 0 20px;
  }
  .contacts-box__content {
    margin: 0 20px 0 0;
  }
  .documentation-table__body {
    font-size: 16px;
  }
  .documentation-table .td, .documentation-table .th {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1700px) {
  .report-card {
    padding: 20px;
    border-radius: 20px;
  }
  .report-card__body {
    margin: 15px 0 0;
  }
  .report-card__name {
    font-size: 18px;
  }
  .report-card__files {
    margin: 15px 0 0;
  }
  .cabinet-box__item {
    margin: 0 20px 0 0;
  }
  .contacts-box {
    padding: 20px;
  }
  .contacts-box h4 {
    font-size: 16px;
  }
  .contacts-box__link {
    font-size: 16px;
    margin: 0 0 10px;
  }
  .contacts-box__link:last-child {
    margin: 0;
  }
  .map-wrapper {
    height: 600px;
  }
}
@media only screen and (max-width: 1500px) {
  .container-fluid {
    padding: 0 30px;
  }
  .fixed-sidebar {
    padding: 35px 0;
  }
  .sidebar-wrapper {
    padding: 20px 10px 20px 0;
  }
  .menu {
    font-size: 16px;
  }
  .menu li {
    margin: 0 0 20px;
  }
  .menu li:last-child {
    margin: 0;
  }
  .manager-box {
    padding: 0;
    margin: 40px 0 0;
    font-size: 16px;
  }
  .report-card__photo {
    height: 200px;
    border-radius: 10px;
  }
  .report-card__photo img {
    border-radius: 10px;
  }
  .header {
    padding: 30px 0;
  }
  .gallery-slider-portfolio__card, .gallery-slider-video__card {
    width: 350px;
    min-width: 350px;
    height: 270px;
  }
  .document-card {
    width: 320px;
    min-width: 320px;
    padding: 20px;
  }
  .cabinet-box {
    padding: 20px;
    margin: 0 0 20px;
  }
  .cabinet-box:last-child {
    margin: 0;
  }
  .form-cabinet {
    width: 100%;
    margin: 10px 0 0;
  }
  .remote-card {
    padding: 20px;
  }
  .remote-card__name {
    margin: 0 0 20px;
  }
  .documentation-table__head {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
  }
  .documentation-table .th, .documentation-table .td {
    padding: 0 10px;
  }
  .documentation-table .tr {
    padding: 10px;
    border-radius: 10px;
  }
  .documentation-table .tr p {
    margin: 0 0 15px;
  }
  .documentation-table .tr p:last-child {
    margin: 0;
  }
}
@media only screen and (max-width: 1330px) {
  body:before {
    width: 616px;
    height: 648px;
  }
  body::after {
    width: 1040px;
    height: 733px;
  }
  .home-content {
    min-width: 540px;
    margin: 0 0 0 -30px;
    border-radius: 40px;
    padding: 60px 60px 30px;
  }
  .home-slider {
    width: calc(100% - 540px + 60px);
  }
  .container-fluid, .container {
    padding: 0 30px;
  }
  .header-object {
    margin: 0 20px 0 0;
    font-size: 14px;
  }
  .mb-50 {
    margin-bottom: 30px;
  }
  .documentation-head {
    padding: 20px;
    border-radius: 20px;
  }
  .documentation-content {
    padding: 0 20px 20px;
  }
  .nav-tabs .nav-link {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1200px) {
  .home-wrapper {
    padding: 30px 0;
  }
  .home-slider {
    margin: 0 0 0 -30px;
  }
  .home-slider__logo {
    padding: 0 0 0 30px;
  }
  .home-slider .slick-dots {
    padding: 0 30px 0 0;
  }
  .logo-home {
    margin: 0 0 60px;
  }
  .event-card {
    padding: 20px;
  }
  .content-wrapper {
    padding: 30px;
    margin: 0 0 40px;
  }
  .header-object {
    width: 100%;
    margin: 10px 0 0;
    order: 1;
  }
  .manager-box {
    padding: 10px;
  }
  .content {
    height: auto;
  }
  body::before {
    width: 416px;
    height: 448px;
  }
  body::after {
    width: 740px;
    height: 433px;
  }
  .nav-tabs {
    margin: 0;
  }
  .gallery-slider-video__card::before {
    width: 50px;
    height: 50px;
  }
  .form-cabinet {
    flex-wrap: wrap;
  }
  .form-cabinet label {
    min-width: auto;
    width: 100%;
    margin: 0 0 10px;
  }
  .form-cabinet label:last-child {
    margin: 0;
  }
  .form-cabinet .label-radio {
    margin: 0 0 10px;
    width: 100%;
  }
  .cabinet-box__item {
    margin: 0 0 10px;
    width: 100%;
  }
  .cabinet-box__item:last-child {
    margin: 0;
  }
  .remote-card {
    border-radius: 20px;
  }
  .remote-card__name {
    font-size: 20px;
  }
  .remote-card__video {
    height: 200px;
    border-radius: 10px;
  }
  .remote-card__video img {
    border-radius: 10px;
  }
  .remote-card__video::before {
    width: 40px;
    height: 40px;
    background-size: 12px;
  }
  .map-wrapper {
    height: 500px;
    border-radius: 20px;
  }
  .map-wrapper iframe {
    border-radius: 20px;
  }
  .contacts-footer {
    margin: 20px 0 0;
  }
  .documentation-table__head {
    display: none;
  }
  .documentation-table .tr {
    flex-wrap: wrap;
  }
  .documentation-table .td {
    margin: 0 0 15px;
  }
  .documentation-table .td::before {
    display: block;
  }
  .documentation-table .td:first-child, .documentation-table .td:nth-child(2), .documentation-table .td:nth-child(3), .documentation-table .td:nth-child(4) {
    width: 50%;
  }
  .documentation-table .td:nth-child(3) {
    border: none;
    padding-left: 0;
  }
  .documentation-table .td:last-child {
    width: 100%;
    border: none;
    border-top: 1px solid #B1D3AC;
    margin: 0;
    padding: 10px 0 0;
  }
  .nav-tabs .nav-link {
    font-size: 16px;
  }
  .form-search {
    max-width: 250px;
  }
}
@media only screen and (max-width: 992px) {
  .home-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .home-content {
    min-width: auto;
    width: 100%;
    margin: 0;
    padding: 30px;
  }
  .home-content__wrapper {
    max-width: none;
    margin: 0;
  }
  .form-footer {
    margin: 30px 0 0;
  }
  .home-slider {
    order: 1;
    width: 100%;
    margin: 20px 0 0;
    border-radius: 40px;
  }
  .home-slider__bg {
    border-radius: 40px;
  }
  .home-slider .slick-dots {
    padding: 0 30px 0 0;
  }
  .home-slider__logo {
    padding: 0 0 0 30px;
  }
  .logo-home {
    margin: 0 0 30px;
  }
  .home h1 {
    margin: 0 0 30px;
  }
  .sidebar-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    height: 100%;
    overflow-y: auto;
    max-width: 280px;
    width: 100%;
    padding: 30px;
    background: #fff;
    display: none;
    box-shadow: 0 10px 35px 0 rgba(77, 155, 66, 0.1);
  }
  .sidebar-wrapper__close {
    display: flex;
  }
  .sidebar-wrapper::before {
    display: none;
  }
  .logo {
    margin: 0;
  }
  .manager-box {
    padding: 20px;
    margin: 30px 0 0;
  }
  .fixed-sidebar {
    padding: 20px 0 0;
    display: flex;
    align-items: center;
  }
  .content {
    height: auto;
  }
  .btn-burger {
    display: flex;
  }
  .header {
    padding: 30px 0;
  }
  .event-card__body {
    width: 100%;
    max-width: none;
  }
  .responsible-box {
    margin: 20px 0 0;
    max-width: none;
  }
  .content-wrapper-documentation {
    padding: 0;
  }
  .documentation-content {
    padding: 0 20px 20px;
  }
}
@media only screen and (max-width: 768px) {
  body::before {
    width: 216px;
    height: 148px;
  }
  body::after {
    width: 440px;
    height: 133px;
  }
  .form-search {
    max-width: none;
    margin: 15px 0 0;
  }
}
@media only screen and (max-width: 576px) {
  .home-slider .slick-dots {
    position: relative;
    padding: 0;
    margin: 20px auto 0;
    justify-content: center;
    bottom: 0;
  }
  .home-slider .slick-dots li {
    border-color: #4D9B42;
  }
  .home-slider .slick-dots li.slick-active {
    background: #4D9B42;
  }
  .form-footer {
    flex-direction: column;
    align-items: center;
  }
  .form-footer .btn {
    margin: 10px auto 0;
  }
  .btn-group > .btn-group:not(:first-child), .btn-group > :not(.btn-check:first-child) + .btn {
    margin: 10px auto 0;
  }
  input, textarea, select {
    padding: 0 20px;
  }
  .user-navigation .dropdown {
    margin: 0 0 0 15px;
  }
  .user-dropdown .dropdown-toggle__icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
    padding: 10px;
  }
  .dropdown-toggle::after {
    min-width: 20px;
    width: 20px;
    height: 10px;
    margin: 0 0 0 5px;
  }
  .settings-dropdown .dropdown-toggle {
    width: 24px;
    height: 5px;
  }
  .content-wrapper {
    padding: 20px;
    border-radius: 20px;
  }
  .event-card {
    padding: 15px;
  }
  .container, .container-fluid {
    padding: 0 15px;
  }
  .row {
    margin: 0 -15px;
  }
  .row > * {
    padding: 0 15px;
  }
  .gallery-slider-portfolio, .gallery-slider-video {
    width: 100%;
  }
  .gallery-slider-portfolio .slick-track, .gallery-slider-video .slick-track {
    display: flex;
    align-items: stretch;
  }
  .gallery-slider-portfolio .slide, .gallery-slider-video .slide {
    margin: 0;
    height: auto;
  }
  .gallery-slider-portfolio__card, .gallery-slider-video__card {
    width: 100%;
    min-width: auto;
    height: 100%;
  }
  .gallery-slider-documents {
    width: 100%;
  }
  .gallery-slider-documents .slide {
    margin: 0;
  }
  .document-card {
    width: 100%;
    min-width: auto;
  }
  .gallery-portfolio__description {
    margin: 30px 0 0;
  }
  .cabinet-box {
    padding: 15px;
  }
  .cabinet-box h3 {
    font-size: 20px;
  }
  .label-radio {
    font-size: 16px;
  }
  .label-radio__custom {
    width: 30px;
    height: 30px;
    min-width: 30px;
    margin: 0 10px 0 0;
  }
  .label-radio__custom::before {
    width: 20px;
    height: 20px;
  }
  .contacts-box__body {
    flex-direction: column;
    align-items: flex-start;
  }
  .contacts-box__avatar {
    margin: 0 0 20px;
  }
  .contacts-box__footer {
    width: 100%;
    padding: 0;
    border: none;
    margin: 20px 0 0;
  }
  .developer-logo {
    max-width: 120px;
  }
  .map-wrapper {
    height: 300px;
  }
  .link-information {
    font-size: 14px;
  }
  .content-wrapper-documentation {
    padding: 0;
  }
  .documentation-box {
    margin: 0 0 30px;
  }
  .documentation-box:last-child {
    margin: 0;
  }
  .documentation-table .td:first-child, .documentation-table .td:nth-child(2), .documentation-table .td:nth-child(3), .documentation-table .td:nth-child(4) {
    width: 100%;
    border: none;
    padding: 0;
  }
}
@media only screen and (max-width: 480px) {
  .header {
    padding: 20px 0;
  }
  .header-title {
    width: calc(100% - 104px);
    margin: 0 auto 0 0;
  }
  .header-object {
    margin: 10px 0;
  }
  .header-object__title {
    padding: 0 10px;
  }
  .header-object__address {
    padding: 5px 0 5px 10px;
  }
}
@media only screen and (max-width: 420px) {
  .home-content {
    padding: 20px;
    border-radius: 20px;
  }
  .home-slider {
    border-radius: 20px;
  }
  .home-slider__bg {
    border-radius: 20px;
  }
  .home-slider__logo {
    bottom: 10px;
    font-size: 12px;
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
  }
  .home-slider__logo span {
    margin: 10px 0 0;
  }
  .slick-dots li {
    width: 14px;
    height: 14px;
    margin: 0 10px 0 0;
  }
  .slick-dots li:last-child {
    margin: 0;
  }
  .container, .container-fluid {
    padding: 0 15px;
  }
  .row {
    margin: 0 -15px;
  }
  .row > * {
    padding: 0 15px;
  }
  .responsible-box {
    padding: 20px;
    flex-direction: column;
  }
  .responsible-box__photo {
    margin: 0 0 20px;
  }
  h1, .h1, h2, .h2 {
    font-size: 20px;
  }
  h3, .h3 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 370px) {
  .header-object {
    display: none;
  }
}