@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  background: #FAFAFA;
  color: #010101;
}

body:before {
  content: "";
  position: absolute;
  width: 816px;
  height: 848px;
  top: 0;
  right: 0;
  background: url("../img/circle2.svg") no-repeat center;
  background-size: 100%;
  z-index: -1;
}

body:after {
  content: "";
  position: absolute;
  width: 1240px;
  height: 933px;
  bottom: 0;
  left: 0;
  background: url("../img/circle1.svg") no-repeat center;
  background-size: 100%;
  z-index: -1;
}

html, body {
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  transition: 0.3s ease;
  outline: none;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 25px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  border: 1px solid #66B0F4;
  border-radius: 20px;
  width: 100%;
  height: 63px;
  background: transparent;
  color: #7E7E7E;
  font-size: 16px;
  cursor: pointer;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: #7E7E7E;
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: #7E7E7E;
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  box-shadow: none;
}

input[type=radio], input[type=checkbox] {
  width: auto;
  height: auto;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  margin: 0 5px 0 0;
  display: inline;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 20px;
}
label:last-child {
  margin: 0;
}

textarea {
  resize: none;
  padding: 12px 17px;
  height: 103px;
}

button, .btn {
  outline: none;
  transition: 0.3s ease;
  cursor: pointer;
  box-shadow: none;
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  box-shadow: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  font-size: 16px;
  line-height: normal;
  font-weight: normal;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  transition: 0.3s ease;
}

.btn-grey {
  color: #808080;
  background: #F2F2F2;
}
.btn-grey:hover, .btn-grey:focus, .btn-grey.active, .btn-grey:active {
  background: #4D9B42;
  color: #fff;
}
.btn-grey:hover .btn-arrow, .btn-grey:focus .btn-arrow, .btn-grey.active .btn-arrow, .btn-grey:active .btn-arrow {
  stroke: #fff;
}

.btn-grey-black {
  color: #fff;
  background: #d3d3d3;
}
.btn-grey-black:hover, .btn-grey-black:focus, .btn-grey-black.active, .btn-grey-black:active {
  background: #4D9B42;
  color: #fff;
}

.btn-green {
  background: #b1d3ac;
  color: #fff;
}
.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active {
  background: #4D9B42;
  color: #fff;
}

.btn-sm {
  padding: 10px 20px;
}

.btn-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 0;
}

.btn-group > .btn-group:not(:first-child), .btn-group > :not(.btn-check:first-child) + .btn {
  margin-left: 20px;
}

.btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:nth-child(n+3), .btn-group > :not(.btn-check) + .btn {
  border-radius: 10px;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.btn-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 15px;
  min-width: 30px;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

h1, .h1, h2, .h2 {
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 15px;
  text-transform: uppercase;
}

h3, .h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  width: 100%;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.breadcrumb-nav {
  width: 100%;
}

.breadcrumb {
  margin: 0;
  width: 100%;
  font-size: 14px;
}
.breadcrumb a {
  color: #4D9B42;
}
.breadcrumb a:hover {
  color: #B1D3AC;
}

.breadcrumb-item {
  display: flex;
  align-items: flex-start;
}

.breadcrumb-item.active {
  color: #4D9B42;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 10px;
}
.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 10px;
  content: ">";
  color: #4D9B42;
  font-size: 14px;
}

.container {
  padding: 0 60px;
}

.container-fluid {
  padding: 0 60px;
}

.row {
  margin: 0 -20px;
}
.row > * {
  padding: 0 20px;
}

.color-grey {
  color: #808080;
}

a.color-grey {
  color: #808080;
}
a.color-grey:hover {
  color: #000;
}

.color-blue {
  color: #66B0F4;
}

a.color-blue {
  color: #66B0F4;
}
a.color-blue:hover {
  color: #4D9B42;
}

.color-accent {
  color: #4D9B42;
}

a.color-green {
  color: #B1D3AC;
}
a.color-green:hover {
  color: #4D9B42;
}

.slick-slider {
  width: 100%;
}

.slick-slide {
  outline: none;
}

.slick-dots {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
}
.slick-dots li {
  cursor: pointer;
  transition: 0.3s ease;
  width: 20px;
  height: 20px;
  margin: 0 20px 0 0;
  border: 2px solid #fff;
  border-radius: 50%;
  background: transparent;
}
.slick-dots li:last-child {
  margin: 0;
}
.slick-dots li button {
  display: none;
}
.slick-dots li.slick-active {
  background: #fff;
}

.slider-nav {
  display: flex;
  align-items: flex-start;
}
.slider-nav .slick-prev {
  margin: 0 20px 0 0;
}

.slick-arrow {
  opacity: 1;
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 57px;
  height: 57px;
  min-width: 57px;
  padding: 13px 20px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid #7E7E7E;
  stroke: #606060;
  fill: none;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-arrow:hover, .slick-arrow:focus {
  background: #4D9B42;
  border-color: #4D9B42;
  stroke: #fff;
  color: #fff;
}

.nav-tabs {
  width: 100%;
  border: none;
  border-radius: 0;
  align-items: flex-start;
  text-transform: uppercase;
  margin: 0 0 20px;
}
.nav-tabs .nav-item {
  margin: 0 20px 20px 0;
}
.nav-tabs .nav-item:last-child {
  margin: 0 0 20px;
}
.nav-tabs .nav-link {
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #8A8A8A;
}
.nav-tabs .nav-link.active {
  color: #292929;
  border-color: #4D9B42;
}

.label-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 20px 0 0;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
  font-weight: 500;
}
.label-radio:last-child {
  margin: 0;
}
.label-radio input {
  display: none;
}
.label-radio input:checked ~ .label-radio__custom::before {
  opacity: 1;
}
.label-radio__custom {
  margin: 0 17px 0 0;
  width: 40px;
  height: 40px;
  min-width: 40px;
  border: 1px solid #4D9B42;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}
.label-radio__custom::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 28px;
  height: 28px;
  border-radius: 5px;
  background: #4D9B42;
  opacity: 0;
  transition: 0.3s ease;
}