@import "vars"

.home
	overflow-x: hidden
	h1
		margin: 0 0 38px

.content
	height: 100%
	// height: 100vh
	// overflow-y: auto
	// overflow-x: hidden

.home-wrapper
	width: 100%
	display: flex
	align-items: stretch
	flex-wrap: wrap
	padding: 60px 0

.home-slider
	width: calc(100% - 650px + 60px)
	margin: 0 0 0 -60px
	&__item
		border-radius: 0 40px 40px 0
		position: relative
		z-index: 1
		height: 100%
	&__logo
		position: absolute
		left: 0
		padding: 0 0 0 120px
		bottom: 45px
		z-index: 1
		display: flex
		align-items: center
		font-size: 17px
		text-transform: uppercase
		color: #fff
		&:hover
			color: #fff
		span
			max-width: 130px
			display: block
			margin: 0 0 0 11px
	&__bg
		border-radius: 0 40px 40px 0
		width: 100%
		height: 100%
		object-fit: cover
	.slick-dots
		right: 0
		bottom: 55px
		position: absolute
		z-index: 1
		padding: 0 100px
	.slick-track, .slick-list
		height: 100%
	.slick-track
		display: flex
		align-items: stretch
	.slick-slide
		height: auto

.home-content
	background: #fff
	min-width: 885px
	margin: 0 0 0 -235px
	border-radius: 40px
	padding: 100px 120px 45px
	box-shadow: 0 10px 35px 0 rgba(77,155,66,.1)
	&__wrapper
		max-width: 398px
		width: 100%
		height: 100%
		display: flex
		flex-direction: column
		margin: 0 0 0 auto

.logo-home
	margin: 0 0 120px
	@include d-flex
	max-width: 142px
	width: 100%

.link-forgot-password
	margin: 18px 0 0

.form-entrance
	height: 100%
	width: 100%
	display: flex
	flex-direction: column
	[type='submit']
		margin: 40px 0 0

.form-footer
	margin: auto 0 0

.content-wrapper
	width: 100%
	background: #fff
	box-shadow: 0 10px 35px 0 rgba(77,155,66,.1)
	border-radius: 40px
	border: 1px solid #fff
	padding: 50px
	margin: 0 0 70px

.content-section
	width: 100%
	margin: 0 0 30px
	&:last-child
		margin: 0
	h2
		margin: 0 0 28px

.object-card
	width: 100%
	color: #292929
	&:hover
		color: $accent
	&__photo
		width: 100%
		height: 244px
		border-radius: 20px
		overflow: hidden
		@include d-flex
		img
			width: 100%
			height: 100%
			object-fit: cover
	&__name
		margin: 24px 0 0
		display: block
		width: 100%
	sup
		font-size: 12px

.object-card-add
	color: #fff
	text-align: center
	background: #B1D3AC
	border-radius: 20px
	width: 100%
	height: 244px
	fill: #fff
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	svg
		width: 96px
		height: 96px
	.object-card__name
		margin: 30px auto 0
	&:hover
		background: $accent

.event-card
	width: 100%
	background: #fff
	margin: 0 0 30px
	padding: 40px
	display: flex
	align-items: flex-start
	flex-wrap: wrap
	border: 1px solid #b1d3ac
	border-radius: 20px
	&-new
		border-color: #fff
		box-shadow: 0 10px 35px 0 rgba(77,155,66,.1)
		.responsible-box
			background: #FAFAFA
		.event-card
			&__date
				color: $accent
	&:last-child
		margin: 0
	&__body
		width: calc(100% - 306px)
		max-width: 748px
		.box-text
			margin: 20px 0
			font-weight: 500
			color: #606060
	&__head
		display: flex
		align-items: center
		margin: 0 0 30px
		width: 100%
	&__date
		color: #606060
		font-weight: 500
	&__status
		margin: 0 20px 0 0
		padding: 5px 10px
		color: #fff
		border-radius: 10px
		background: #a6d120

.responsible-box
	background: #fff
	max-width: 306px
	width: 100%
	margin: 0 0 0 auto
	border-radius: 20px
	padding: 30px
	display: flex
	align-items: flex-start
	color: #606060
	&__photo
		border-radius: 50%
		@include d-flex
		overflow: hidden
		width: 55px
		height: 55px
		min-width: 55px
		margin: 0 20px 0 0
		img
			width: 100%
			height: 100%
			object-fit: cover
	h3
		margin: 10px 0
		color: #292929
	&__position
		font-size: 20px

// main-reports
.page
	.content-wrapper
		border-radius: 0
		background: transparent
		box-shadow: none
		padding: 0
		border: none

.header-object
	border-radius: 20px
	background: #fff
	display: flex
	align-items: center
	padding: 10px
	margin: 0 40px 0 0
	.dropdown-toggle
		width: 100%
		display: flex
		align-items: center
		color: #292929
		&::after
			width: 18px
			height: 10px
			min-width: 18px
		&:hover
			color: $accent
	sup
		font-size: 12px
		display: inline-block
	&__photo
		@include d-flex
		width: 40px
		height: 40px
		min-width: 40px
		overflow: hidden
		border-radius: 10px
		img
			border-radius: 10px
			width: 100%
			height: 100%
			object-fit: cover
	&__title
		padding: 0 20px

	&__address
		padding: 5px 0 5px 20px
		border-left: 1px solid $accent

.report-card
	width: 100%
	height: 100%
	background: #fff
	box-shadow: 0 10px 50px 0 rgba(77,155,66,.1)
	border-radius: 40px
	padding: 50px
	&__photo
		width: 100%
		height: 292px
		@include d-flex
		border-radius: 20px
		img
			border-radius: 20px
			width: 100%
			height: 100%
			object-fit: cover
	&__body
		width: 100%
		margin: 25px 0 0
	&__name
		font-size: 24px
		font-weight: 500
		color: #292929
		&:hover
			color: $accent
	&__date
		margin: 10px 0 0
		color: #4d9b42
	&__files
		display: flex
		align-items: flex-start
		flex-wrap: wrap
		width: 100%
		margin: 25px 0 0
	&__download
		width: 23px
		height: 25px
		@include d-flex
		fill: #b1d3ac
	&__gallery
		margin: 0 0 5px 15px
		background-color: #b1d3ac
		border-radius: 10px
		color: #fff
		padding: 5px 10px
		cursor: pointer
		&-photo
			display: none

.report-col
	display: none
	&:nth-child(-n+6)
		display: flex

.btn-toggle-reports
	margin: 0 auto
	.btn-arrow
		margin: 0 0 0 20px
		fill: none
		stroke: #808080

// page report
.files-attached
	display: flex
	align-items: center
	color: $accent
	svg
		fill: $accent
		width: 22px
		min-width: 22px
		height: 25px
		margin: 0 10px 0 0

.gallery-portfolio
	&__description
		margin: 38px 0 0

.gallery-slider-portfolio, .gallery-slider-video
	width: calc( 100% + 50px )
	.slide
		margin: 0 40px 0 0
	&__card
		width: 529px
		min-width: 529px
		height: 348px
		@include d-flex
		position: relative
		z-index: 1
		border-radius: 20px
		img
			width: 100%
			height: 100%
			object-fit: cover
			border-radius: 20px
		&::before
			content: ''
			position: absolute
			bottom: 28px
			right: 26px
			width: 28px
			height: 28px
			background: url('../img/size-icon.svg') no-repeat center
			background-size: 100%
			z-index: 1
	&__nav
		margin: 38px 0 0

.gallery-slider-video__card
	&::before
		width: 69px
		height: 69px
		left: 50%
		top: 50%
		bottom: auto
		right: auto
		border-radius: 50%
		transform: translate(-50%,-50%)
		background: #B1D3AC url('../img/play-icon.svg') no-repeat center
		background-size: 17px

.btn-view
	svg
		fill: #fff
		width: 22px
		height: 16px
		margin: 0 0 0 10px

.gallery-slider-documents
	width: calc( 100% + 50px )
	.slide
		margin: 0 30px 0 0

.document-card
	width: 386px
	min-width: 386px
	height: 100%
	background: #fff
	border-radius: 20px
	padding: 40px
	box-shadow: 0 10px 25px rgba($accent, .10)
	margin: 0 0 20px 0
	&__date
		display: flex
		align-items: center
		color: $accent
		margin: 0 0 30px
		font-size: 16px
		font-weight: 500
		&:before
			content: ''
			@include d-flex
			margin: 0 6.5px 0 0
			width: 25px
			height: 32px
			min-width: 25px
			background: url('../img/file.svg') no-repeat center
			background-size: 100%
	&__name
		margin: 0 0 20px
		width: 100%
		font-size: 20px
		color: #000
		&:hover
			color: $accent

// cabinet page
.cabinet-box
	width: fit-content
	margin: 0 0 44px
	display: flex
	align-items: center
	flex-wrap: wrap
	background: #fff
	padding: 40px
	border-radius: 20px
	font-size: 20px
	&__item
		display: flex
		align-items: center
		margin: 0 40px 0 0
		&:last-child
			margin: 0
	h3
		font-weight: 500
		font-size: 24px

.link-edit
	display: flex
	align-items: center
	fill: $accent
	margin: 0 0 0 10px
	width: 19px
	height: 19px
	min-width: 19px

.form-cabinet
	display: flex
	align-items: center
	label
		width: 278px
		min-width: 278px
		margin: 0 20px 0 0
	[type='submit']
		white-space: nowrap
	.label-radio
		width: fit-content
		min-width: auto
		white-space: nowrap

// remote page
.remote-card
	width: 100%
	height: 100%
	background: #fff
	padding: 50px
	border-radius: 40px
	&__name
		margin: 0 0 50px
		font-size: 24px
		font-weight: 500
		color: #000
		&:hover
			color: $accent
	&__video
		position: relative
		z-index: 1
		width: 100%
		height: 292px
		border-radius: 20px
		@include d-flex
		img
			width: 100%
			height: 100%
			object-fit: cover
			border-radius: 20px
		&::before
			content: ''
			position: absolute
			width: 69px
			height: 69px
			left: 50%
			top: 50%
			bottom: auto
			right: auto
			border-radius: 50%
			transform: translate(-50%,-50%)
			background: #B1D3AC url('../img/play-icon.svg') no-repeat center
			background-size: 17px

// contacts page
.contacts-box
	background: #fff
	width: fit-content
	padding: 40px
	border-radius: 20px
	filter: drop-shadow(0px 10px 35px rgba(#4D9B42, .1))
	h3
		width: 100%
		margin: 0 0 20px
		font-size: 20px
		font-weight: 500
		text-transform: uppercase
	h4
		font-size: 20px
		font-weight: 500
		margin: 10px 0 0
	p
		margin: 0 0 10px
		&:last-child
			margin: 0
	&__body
		width: 100%
		display: flex
		align-items: center
	&__avatar
		border-radius: 50%
		overflow: hidden
		margin: 0 40px 0 0
		width: 55px
		height: 55px
		min-width: 55px
	&__content
		margin: 0 40px 0 0
	&__footer
		padding: 0 0 0 40px
		border-left: 1px solid $accent
	&__link
		margin: 0 0 20px
		font-size: 20px
		color: #292929
		white-space: nowrap
		&:last-child
			margin: 0
		&:hover
			color: $accent
			&:last-child
				margin: 0
	&__address
		display: flex
		align-items: center
		margin: 0 0 20px
		font-size: 10px
		img
			margin: 0 10px 0 0
			width: 19px
			min-width: 19px

.contacts-box-company
	filter: none
	border: 1px solid $accent
	background: transparent

.list-social
	list-style-type: none
	padding: 0
	display: flex
	align-items: center
	li
		margin: 0 20px 0 0
		&:last-child
			margin: 0
		a
			fill: $light-green
			width: 30px
			height: 30px
			min-width: 30px
			@include d-flex
			&:hover
				fill: $accent

.map-wrapper
	width: 100%
	height: 731px
	@include d-flex
	border-radius: 40px
	iframe
		width: 100%
		height: 100%
		border-radius: 40px
		object-fit: cover

.contacts-footer
	width: 100%
	display: flex
	align-items: center
	margin: 50px 0 0

.developer-logo
	max-width: 165px
	width: 100%
	@include d-flex
	margin: 0 auto 0 0

.link-information
	text-align: right	
