@import "vars"

.home
	overflow-x: hidden
	h1
		margin: 0 0 38px

.home-wrapper
	width: 100%
	display: flex
	align-items: stretch
	flex-wrap: wrap
	padding: 60px 0

.home-slider
	width: calc(100% - 650px + 60px)
	margin: 0 0 0 -60px
	&__item
		border-radius: 0 40px 40px 0
		position: relative
		z-index: 1
		height: 100%
	&__logo
		position: absolute
		left: 0
		padding: 0 0 0 120px
		bottom: 45px
		z-index: 1
		display: flex
		align-items: center
		font-size: 17px
		text-transform: uppercase
		color: #fff
		&:hover
			color: #fff
		span
			max-width: 130px
			display: block
			margin: 0 0 0 11px
	&__bg
		border-radius: 0 40px 40px 0
		width: 100%
		height: 100%
		object-fit: cover
	.slick-dots
		right: 0
		bottom: 55px
		position: absolute
		z-index: 1
		padding: 0 100px
	.slick-track, .slick-list
		height: 100%
	.slick-track
		display: flex
		align-items: stretch
	.slick-slide
		height: auto

.home-content
	background: #fff
	min-width: 885px
	margin: 0 0 0 -235px
	border-radius: 40px
	padding: 100px 120px 45px
	box-shadow: 0 10px 35px 0 rgba(77,155,66,.1)
	&__wrapper
		max-width: 398px
		width: 100%
		height: 100%
		display: flex
		flex-direction: column
		margin: 0 0 0 auto

.logo-home
	margin: 0 0 120px
	@include d-flex
	max-width: 142px
	width: 100%

.link-forgot-password
	margin: 18px 0 0

.form-entrance
	height: 100%
	width: 100%
	display: flex
	flex-direction: column
	[type='submit']
		margin: 40px 0 0

.form-footer
	margin: auto 0 0

.content-wrapper
	width: 100%
	background: #fff
	box-shadow: 0 10px 35px 0 rgba(77,155,66,.1)
	border-radius: 40px
	border: 1px solid #fff
	padding: 50px

.content-section
	width: 100%
	margin: 0 0 30px
	&:last-child
		margin: 0
	h2
		margin: 0 0 28px

.object-card
	width: 100%
	color: #292929
	&:hover
		color: $accent
	&__photo
		width: 100%
		height: 244px
		border-radius: 20px
		overflow: hidden
		@include d-flex
		img
			width: 100%
			height: 100%
			object-fit: cover
	&__name
		margin: 24px 0 0
		display: block
		width: 100%
	sup
		font-size: 12px

.object-card-add
	color: #fff
	text-align: center
	background: #B1D3AC
	border-radius: 20px
	width: 100%
	height: 244px
	fill: #fff
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	svg
		width: 96px
		height: 96px
	.object-card__name
		margin: 30px auto 0
	&:hover
		background: $accent

.event-card
	width: 100%
	background: #fff
	margin: 0 0 30px
	padding: 40px
	display: flex
	align-items: flex-start
	flex-wrap: wrap
	border: 1px solid #b1d3ac
	border-radius: 20px
	&-new
		border-color: #fff
		box-shadow: 0 10px 35px 0 rgba(77,155,66,.1)
		.responsible-box
			background: #FAFAFA
		.event-card
			&__date
				color: $accent	
	&:last-child
		margin: 0
	&__body
		width: calc(100% - 306px)
		max-width: 748px
		.box-text
			margin: 20px 0
			font-weight: 500
			color: #606060
	&__head
		display: flex
		align-items: center
		margin: 0 0 30px
		width: 100%
	&__date
		color: #606060
		font-weight: 500
	&__status
		margin: 0 20px 0 0
		padding: 5px 10px
		color: #fff
		border-radius: 10px
		background: #a6d120
		

.responsible-box
	background: #fff
	max-width: 306px
	width: 100%
	margin: 0 0 0 auto
	border-radius: 20px
	padding: 30px
	display: flex
	align-items: flex-start
	color: #606060
	&__photo
		border-radius: 50%
		@include d-flex
		overflow: hidden
		width: 55px
		height: 55px
		min-width: 55px
		margin: 0 20px 0 0
		img
			width: 100%
			height: 100%
			object-fit: cover
	h3
		margin: 10px 0
		color: #292929
	&__position
		font-size: 20px
